@{
    ViewData["Title"] = "About Page";
}




  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="~/images/about-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are Yumms
              </h2>
            </div>
            <p>
              Welcome to Yumms, where culinary delight meets creativity! At Yumms, we take pride in crafting a dining experience that transcends the ordinary. Our passion for exquisite flavors and dedication to exceptional service redefine the art of gastronomy. From tantalizing appetizers to mouthwatering main courses, every dish tells a story of quality ingredients and culinary mastery.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->